body {
    font-family: BentonSansRegular;
}

.btn {
    font-family: BentonSansMedium;
}

.text-blue {
    color: #0062E1;
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.fs-36px {
    font-size: 36px;
}