@charset "UTF-8";
/*=== abstracts css start ===*/
@font-face {
  font-family: BentonSansRegular;
  src: url(../fonts/BentonSans-Regular.ttf);
}
@font-face {
  font-family: BentonSansBook;
  src: url(../fonts/BentonSans-Book.ttf);
}
@font-face {
  font-family: BentonSansMedium;
  src: url(../fonts/BentonSans-Medium.ttf);
}
@font-face {
  font-family: BentonSansBold;
  src: url(../fonts/BentonSans-Bold.ttf);
}
/*=== End of abstracts css ===*/
/*=== base css start ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

body {
  background-color: #f2f3f4;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

body {
  font-family: BentonSansRegular;
}

.btn {
  font-family: BentonSansMedium;
}

.text-blue {
  color: #0062E1;
}

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.fs-36px {
  font-size: 36px;
}

.bg-blue {
  background-color: #002377;
}

.border-blue {
  border-color: #002377;
}

/*=== End of base css ===*/
/*=== layouts css start ===*/
.navbar-top .nav-link {
  color: #0062E1;
  font-size: 14px;
  font-family: BentonSansMedium;
}
.navbar-top .nav-link .material-symbols-outlined {
  color: #0062E1;
  border-radius: 50%;
  padding: 3px;
  font-size: 24px;
  transition: all 0.2s linear;
}
.navbar-top .nav-link .material-symbols-outlined:hover {
  background: #0062E1;
  color: #fff;
}
.navbar-top .user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-header {
  background: url(../images/header/nav-banner.png) no-repeat center/cover;
  /* navbar part end */
}
@media (max-width: 1199px) {
  .main-header {
    background: url(../images/header/nav-banner-sm.png) no-repeat center/cover;
  }
}
@media (min-width: 1420px) {
  .main-header .container {
    max-width: 1400px;
  }
}
.main-header .menu_icons {
  display: flex;
  justify-content: end;
  align-items: center;
}
.main-header .menu_icons .menu-icons-svg {
  transition: all 0.2s linear;
}
.main-header .menu_icons .notifications {
  position: relative;
}
.main-header .menu_icons .notifications:hover .notification_list {
  opacity: 1;
  visibility: visible;
}
.main-header .menu_icons .notifications .notification_list {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 135%;
  background: #0033AA;
  border: 1px solid #0089FF;
  border-radius: 16px;
  width: 240px;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  visibility: hidden;
  z-index: 999;
}
.main-header .menu_icons .notifications .notification_list .notofication_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px;
}
.main-header .menu_icons .notifications .notification_list .notofication_head h2 {
  font-family: "BentonSans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.main-header .menu_icons .notifications .notification_list .notofication_head i {
  width: 20px;
  height: 20px;
  background: #00BFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.main-header .menu_icons .notifications .notification_item {
  padding: 10px 0 10px 5px;
  margin: 0 3px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border: 1px solid #0033AA;
}
.main-header .menu_icons .notifications .notification_item.for_dot {
  position: relative;
}
.main-header .menu_icons .notifications .notification_item.for_dot::after {
  position: absolute;
  top: 50%;
  right: 3%;
  width: 7px;
  height: 7px;
  background: #BA0000;
  content: "";
  border-radius: 50%;
}
.main-header .menu_icons .notifications .notification_item .notification_item_left {
  margin-right: 10px;
}
.main-header .menu_icons .notifications .notification_item .notification_item_left .notification-number {
  color: #0033AA;
}
.main-header .menu_icons .notifications .notification_item .notification_item_right h2 {
  font-family: "BentonSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0089FF;
  padding-right: 30px;
}
.main-header .menu_icons .notifications .notification_item .notification_item_right p {
  font-family: "BentonSans", sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #4F637C;
  padding-top: 4px;
}
.main-header .menu_icons .notifications .notification_footer a {
  text-decoration: none;
  font-family: "BentonSans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #00BFFF;
  padding: 5px;
}
.main-header .navbar-collapse.collapse.show {
  border: none;
}
.main-header .main_menu .main_nav_btn {
  padding: 13px 20px;
  display: block;
  font-weight: 400;
  transition: all 0.5s;
  border: 1px solid transparent;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white !important;
  overflow: hidden;
}
.main-header .main_menu .main_nav_btn.show {
  border-color: #0089FF;
  background-color: white;
  color: #0089FF !important;
}
.main-header .main_menu .main_nav_btn:hover {
  color: rgb(204, 204, 204) !important;
}
.main-header .main_menu .mega_menu {
  top: calc(100% - 6px);
  width: 680px;
  background: #fff;
  transition: 0.5s;
  border-bottom: 1px solid #014ECF;
  border-right: 1px solid #014ECF;
  border-left: 1px solid #014ECF;
  border-radius: 0 10px 10px 10px;
}
@media (max-width: 991px) {
  .main-header .main_menu .mega_menu {
    width: auto;
  }
}
.main-header .main_menu .mega_menu .mega_menu_item {
  padding: 10px 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}
.main-header .main_menu .mega_menu .mega_menu_item h3 {
  margin-bottom: 15px;
  white-space: nowrap;
  font-size: 13px;
  padding: 10px;
  position: relative;
  font-family: "BentonSans Medium", sans-serif;
  font-weight: 700 !important;
  border-radius: 8px;
  color: #1A314D;
}
.main-header .main_menu .mega_menu .mega_menu_item h3::first-letter {
  text-transform: uppercase;
}
.main-header .main_menu .mega_menu .mega_menu_item h3::before {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #0089FF;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.main-header .main_menu .mega_menu .mega_menu_item a {
  font-size: 12px !important;
  white-space: nowrap;
  padding: 5px 10px 5px 15px !important;
  color: #0089FF !important;
  display: block;
  font-family: "BentonSans-Medium", sans-serif;
  position: relative;
}
.main-header .main_menu .mega_menu .mega_menu_item a::first-letter {
  text-transform: uppercase;
}
.main-header .main_menu .mega_menu .mega_menu_item a:hover {
  background: rgba(0, 137, 255, 0.1);
}
.main-header .main_menu .mega_menu .mega_menu_item a::before {
  content: "⬤";
  line-height: 0;
  font-size: 5px;
  padding-right: 5px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.main-header .main_menu .mega_menu .mega_menu_item img {
  width: 100%;
}
.main-header .noti_shape {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.main-header .notifications:hover .noti_shape {
  opacity: 1;
}
.main-header .search:focus-within .input-box {
  display: block !important;
  right: 0;
  min-width: 300px;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .main-header .search:focus-within .input-box {
    right: auto;
    left: -125px;
  }
}
.main-header .message a i {
  height: 35px;
  width: 35px;
  border: 1px solid #0089FF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: white;
  font-size: 20px;
}
.main-header .for_icons_margin {
  margin-left: 33px;
}
.main-header .wallet {
  margin-left: 100px;
  transition: all 0.2s linear;
  padding: 25px 30px;
  background-color: #0062E1;
}
.main-header .wallet p {
  color: white;
  font-family: "BentonSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.main-header .nav_bottom {
  padding: 8px 0;
  background-color: white;
}
.main-header .nav_bottom_left a {
  font-family: "Benton Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0062E1;
  margin-left: 5px;
}
.main-header .share {
  position: relative;
  display: inline-block;
}
.main-header .share_icon {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  visibility: hidden;
}
.main-header .share:hover .share_icon {
  opacity: 1;
  visibility: visible;
}
.main-header .share_ol {
  position: absolute;
  width: 235px;
  top: 0;
  right: 148%;
  background: #fff;
  border: 1px solid rgba(0, 137, 255, 0.2);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 11px 6px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.main-header .share:hover .share_ol {
  opacity: 1;
  visibility: visible;
}
.main-header .share_ol_item {
  display: flex;
  align-items: center;
  padding: 6px 2px;
}
.main-header .share_ol_item:hover {
  background: rgba(0, 137, 255, 0.1);
}
.main-header .share_ol_item p {
  font-family: "BentonSans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #0089FF;
  padding-left: 5px;
}
.main-header .bookmark {
  margin-left: 18px;
  position: relative;
}
.main-header .bookmark_ol {
  position: absolute;
  top: 0;
  right: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.main-header .bookmark:hover .bookmark_ol {
  opacity: 1;
  visibility: visible;
}

.about-header .navbar {
  background-color: #00164E;
}
.about-header .navbar .nav-link {
  color: #fff;
  font-family: BentonSansMedium;
  font-size: 12px;
  text-transform: uppercase;
  padding-right: 1rem;
  padding-left: 1rem;
  white-space: nowrap;
  position: relative;
}
.about-header .navbar .nav-link.active::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about-header .about-banner {
  position: relative;
  background: #00309B;
}
@media (min-width: 1200px) {
  .about-header .about-banner .text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about-header .about-banner .text-content h2 {
    font-size: 36px;
  }
}
.about-header .about-banner .text-content p {
  font-size: 14px;
}

.navbar-bottom {
  border: 1px solid #D2D7DF;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 12px 12px;
}
.navbar-bottom .nav-link {
  color: #0089FF;
  font-size: 12px;
  font-family: BentonSansMedium;
}
.navbar-bottom svg:hover {
  fill: #0062E1;
}
.navbar-bottom svg:hover circle {
  stroke: #fff;
  fill: #0062E1;
}
.navbar-bottom svg:hover g {
  stroke: #fff;
}
.navbar-bottom .bookmark .submenu-box {
  position: absolute;
  right: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s linear;
  display: none;
}
.navbar-bottom .bookmark .submenu-box .submenu-box-content {
  padding: 5px 10px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 137, 255, 0.2);
  border-radius: 8px;
  font-size: 12px;
  color: #7C868D;
  position: relative;
  white-space: nowrap;
}
.navbar-bottom .bookmark .submenu-box .submenu-box-content .font-medium {
  font-family: BentonSansMedium;
}
.navbar-bottom .bookmark .submenu-box .submenu-box-content::before {
  content: "";
  width: 16px;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: #0089FF;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-bottom .bookmark:hover .submenu-box {
  display: block;
}
.navbar-bottom .dropstart .btn-check:checked + .btn,
.navbar-bottom .dropstart .btn.active,
.navbar-bottom .dropstart .btn.show,
.navbar-bottom .dropstart .btn:first-child:active,
.navbar-bottom .dropstart :not(.btn-check) + .btn:active {
  border-color: transparent;
}
.navbar-bottom .dropstart .dropdown-menu {
  width: 235px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 137, 255, 0.2);
  border-radius: 16px;
}
.navbar-bottom .dropstart .dropdown-menu::before {
  content: "";
  width: 16px;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  background-color: #0089FF;
  position: absolute;
  left: 100%;
  top: 15px;
}
.navbar-bottom .dropstart .dropdown-menu .dropdown-item {
  font-size: 12px;
  color: #0089FF;
}
.navbar-bottom .dropstart .dropdown-menu .dropdown-item img {
  padding-right: 5px;
}
.navbar-bottom .dropstart .dropdown-menu .dropdown-item:active {
  color: #fff;
}

.back-to-top small {
  color: #fff;
  font-size: 12px;
}
.back-to-top .btn {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 0;
  color: #0033AA;
  background-color: #fff;
}

.footer {
  background-color: #0A2240;
  background-image: url("../images/footer/footer-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
.footer ul {
  padding: 10px 0;
}
.footer ul li {
  list-style: none;
  padding: 5px 0;
}
.footer ul li .footer-link {
  font-family: BentonSansMedium;
  color: #fff;
  font-size: 12px;
}
.footer .social-link h4 {
  font-family: BentonSansBold;
  color: #FFF;
  font-size: 14px;
}
.footer .social-link .social-icon-wrapper {
  display: flex;
}
.footer .social-link .social-icon-wrapper a {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 5px;
  color: #0A2240;
  text-align: center;
  margin-right: 20px;
  transition: all 0.2s linear;
}
.footer .social-link .social-icon-wrapper a:hover {
  color: #fff;
  background-color: rgba(0, 98, 225, 0.8);
}

/*=== End of layouts css ===*/
/*=== pages css start ===*/
.about-us {
  background-color: #f5f5f5;
}
.about-us .text-dark {
  color: #1A314D !important;
}
.about-us .heading-1 {
  font-size: 36px;
}
.about-us .features-card {
  border: 1px solid #CED3D9;
  border-radius: 16px;
  padding: 30px 20px;
  background-color: #fff;
  text-align: center;
}
.about-us .features-card.bg-blue {
  background-color: #002377;
}
.about-us .features-card .icon {
  margin-top: -75px;
}
.about-us .features-card .title {
  font-size: 14px;
  font-family: BentonSansMedium;
  text-transform: uppercase;
  color: #1A314D;
}
.about-us .features-card .read-more-btn {
  font-size: 12px;
  color: #0051FF;
  text-transform: uppercase;
}
.about-us .about-article .font-medium {
  font-family: BentonSansMedium;
}
.about-us .about-article .font-bold {
  font-family: BentonSansBold;
}
.about-us .about-article .article-list li {
  list-style-type: disc;
  font-size: 14px;
}
.about-us .about-article.bg-blue {
  background-color: #002377;
  color: #fff;
}
.about-us .about-article.bg-blue .article-list li {
  color: #6ACFF6;
}
.about-us .tab-section .nav-tabs .nav-link {
  font-size: 14px;
  color: #1a314d;
  text-transform: capitalize;
  white-space: nowrap;
  display: block;
  position: relative;
}
@media (max-width: 991px) {
  .about-us .tab-section .nav-tabs .nav-link {
    font-size: 12px;
  }
}
.about-us .tab-section .nav-tabs .nav-link.active {
  color: #0062e1;
  font-family: BentonSansMedium;
}
.about-us .tab-section .nav-tabs .nav-link.active::before {
  content: "";
  width: 80%;
  height: 2px;
  background-color: #204fb0;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.about-us .tab-section .nav-tabs .swiper {
  margin-left: unset;
}
@media screen and (min-width: 1200px) {
  .about-us .tab-section .nav-tabs .swiper .swiper-slide {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}
.about-us .tab-section .nav-tabs .nav-tab-next,
.about-us .tab-section .nav-tabs .nav-tab-prev {
  position: absolute;
  z-index: 1;
}
.about-us .tab-section .nav-tabs .nav-tab-next span,
.about-us .tab-section .nav-tabs .nav-tab-prev span {
  font-size: 50px;
  color: #0062e1;
}
@media (max-width: 767px) {
  .about-us .tab-section .nav-tabs .nav-tab-next span,
  .about-us .tab-section .nav-tabs .nav-tab-prev span {
    font-size: 30px;
  }
}
.about-us .tab-section .nav-tabs .nav-tab-prev {
  left: -15px;
  top: 55%;
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .about-us .tab-section .nav-tabs .nav-tab-prev {
    left: -10px;
  }
}
.about-us .tab-section .nav-tabs .nav-tab-next {
  right: -15px;
  left: auto;
  top: 55%;
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .about-us .tab-section .nav-tabs .nav-tab-next {
    right: -10px;
  }
}
.about-us .tab-section .nav-tabs .nav-tab-prev.swiper-button-disabled span {
  color: transparent;
}
.about-us .bannerSwiper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #0062e1;
  opacity: 1;
}
.about-us .bannerSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0062e1;
}

/*=== End of pages css ===*//*# sourceMappingURL=style.css.map */